<!-- ===== 全局页脚组件 ===== -->
<footer class="footer  mt-5">
    <div class="container">
        <!-- 第一行：视频居中独占一行 -->
        <div class="row justify-content-center">
            <div class="col-auto d-flex justify-content-center">
                <video src="assets/images/logovideo.mp4" width="200" height="120" autoplay loop muted playsinline style="border-radius:50%;"></video>
            </div>
        </div>
        <!-- 第二行：Let's Connect 居中 -->
        <div class="row justify-content-center mb-3">
            <div class="col-auto d-flex justify-content-center">
                <div class="fw-bold fs-3"><h2 class="mb-0">Let's Connect</h2></div>
                
            </div>
        </div>
        <!-- 第三行：社交 icon 居中且加大 -->
        <div class="row justify-content-center mb-3">
            <div class="col-auto d-flex justify-content-center"></div>
            <div class="row justify-content-center mb-2">
                <div class="col-auto d-flex flex-column align-items-center">
                    <p class="fw-bold mb-1 text-center">Toronto & Ontario Based</p>
                    <p class="fw-bold mb-1 text-center">Jasminemacn@gmail.com</p>
                    <p class="fw-bold mb-1 text-center">tel: +1 613 770 9233</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-auto d-flex justify-content-center">
               
                <a href="assets/file/Jasmine(Xuefei)Ma_CV.pdf" class="text-muted text-decoration-none ms-3" download target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-filetype-pdf" style="font-size:30px;"></i>
                </a>
                <a href="https://github.com/Jasmine-xf" class="text-muted text-decoration-none ms-3" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github" style="font-size:30px;"></i>
                </a>
            </div>
        </div>
        <hr class="my-2">
        <!-- 版权信息 -->
        <div class="text-center">
            <p class="text-muted mb-3">
                © 2025 - JasmineMa. All rights reserved.
            </p>
        </div>
    </div>
</footer>